.about__cards{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
}

.about__cards-border{
   
    max-width: 370px;
    box-sizing: border-box;
    justify-content: center;
    display: block;
    flex-grow: 1;
    padding: 0;
    text-align: center; 
    


}

.about__cards-border__round-cover{
    width: 92px;
    height: 92px;
    margin: 39px auto ;
    border: 1px solid #EC7979;
    box-sizing: border-box;
    border-radius: 50%;

}
.about__cards-border__header{
    max-height: 100px;
    margin-bottom: 8px; 
    box-sizing: border-box;
    justify-content: center;

    font-family: 'OpenSans';
    font-size: 24px;
    text-align: center;
}
.about__cards-border__text{
    height: 105px;
    
        
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    text-align: center;
}

.about__cards-border__retangle{
height: 46px;
width: 66px;
margin: 23px auto;
box-sizing: border-box;
text-align: center;
}

.about__cards-border__square{
height: 65.29px;
width: 65.29px;
margin: 13px auto;
box-sizing: border-box;
text-align: center;
}
