.banner{
    background-color:var(--black);
    width:100%;
    height: 950px;
    background: url(../images/section_banner/pexels-brett-sayles-1708601.webp) no-repeat;
    background-size: 100% 100%;
}
@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    .banner{
background:url(../images/section_banner/pexels-brett-sayles-17086012x.jpg)
no-repeat 100% 100%;
}
}
.banner__wrapper{
    width:100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 30px;
}

.banner__text{
    width:57%;
    display: flex;
    flex-flow: column ;
    justify-content: space-between;
}

.banner__text__icon{
margin:207px 0px 50.8px 0px;
width:270px;
    height: 100px;
    background: url(../images/logo.svg) no-repeat;
    background-size:cover;
    box-sizing: border-box;
}



.banner__text__h1::after{
    content: '';
    display: flex;
 border: 1px solid var(--white);
 width: 170px;
 height: 1px;
 margin-top: 55.12px;
}

.banner__text__p{
    color: $white;
    margin: 42px 0px;

    font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
}
.bunner__button{
    width: 270px;
    height: 58px;
    margin-bottom: 19.4%;
}
.banner__form{
    display:flex;
    width:39%;
}
.banner__form__border{
    width:100%;
    min-width: 288px;
    height: max-content;
    margin-top: 207px;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid $coral;
    background-color: $white;
    border-radius: 10px;
}
.banner__form__border-header{
    padding: 0 auto;
    color:$black;
    text-align: center;
    justify-content: center;

font-family: 'Open Sans',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
text-transform: uppercase;

}


.banner__form__border-inputs_wrap{
    width:78.7%;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 42px;
}

.banner__form__border-input{
    width:100%;
    box-sizing: border-box;
    align-self: center;
    padding: 10px 0px;
   
   
}
.banner__form__border-item{
    display: block;
    margin: 33px auto;
}
.banner__form__border-item::after{
    content: "";
    display: flex;
    box-sizing: border-box;
    height: 1px;
    width:100%;
    border: 1px solid $ltgrey;
}
.banner__form__border-button{
    height: 60px; 
    width:100%;
    border-radius: 0px 0px 10px 10px;
}

@media screen and (max-width:1200px){
    .banner{
        height: 693px;
    }
.banner__text{
    padding-left: 100px;
    width: 45.7%;
}

.banner__text__icon{
    margin:136px 0px 37px 0px;
    width:183px;
    height: 74.5px;   
}
.banner__text__h1::after{
    margin-top: 41px;
    width: 115px;
}
.banner__text__p{
    margin: 0px 0px 31.3px 0px;
    font-size: 14px;
}
.bunner__button{
    width: 183px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 131px;
}
.banner__form__border{
    margin-top: 136px;
}
.banner__form__border-header{
    font-size: 18px;
}

}

@media screen and (max-width:998px){
    .banner{
        height: 950px;
    }
    .banner__wrapper{
        flex-flow: column nowrap;
    }
    .banner__text{
        padding-left:0px;
        width:100%;
      
        justify-content: center;
    }
    .banner__text__icon{
        margin:30px 0px 37px 0px;
    }
    .bunner__button{
        margin-bottom: 10px;
    }
    .banner__form{
        width:100%;
        align-items: center;
        justify-content: center;

    }
    .banner__form__border{
        width:576px;
        margin-top: 20px;
    }
    .banner__form__border-item{
        display: block;
        margin: 12px auto;
    }
}
@media screen and (max-width:580px){
    .banner__text{
        text-align: center;
        justify-content: center;
        padding-top: 84px;
    }
    .banner__text__h1::after{
        margin:41px auto 0px auto;
    }
    .banner__text__icon{
        display: none;
    }
    .bunner__button{
        width: 288px;
        height: 50px;
    }
    .banner__form__border-header{
        font-size: 14px;
       
    }
}