@font-face {
    font-family: 'Inter';
    src: local('Inter') url('../fonts/Inter-VariableFont_slnt\,wght.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: OpenSans;
    src: local('OpenSans') url('../fonts/OpenSans-VariableFont_wdth\,wght.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}