.our_work__wrapper{
    
    max-width:100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0px;
    
}
.our_work__galery{
  display: inline-block;
	position: relative;    
	line-height: 0;

&:hover:after {
    cursor: pointer;
        content: "";
        display: block;
        width: 100%;
        height: 100%;    
        position: absolute;
        top: 0;    
        left: 0;   
        background: transparent;
        background-image: linear-gradient(to left, $black, $black);    
        opacity: 0.65;    
    }
&:hover:before {
    cursor: pointer;
        content: "";
        display: inline-block;
        width: 80%;
        height: 52px;
        margin: 0 auto;  
        position: absolute;    
        top: 45%;
        left:5%;
            
        background: url(../images/section_our-work/creatively_design.svg) 80% 80% no-repeat;
        z-index: 1;
}
}
.our_work__galery-image{
    width: 100%;
    height: 100%;
}
.high{
   grid-row-start: 1;
   grid-row-end: 3;
   grid-column-start: 3;
   grid-column-end: 4;
}

@media screen and (max-width:1200px){

    .our_work__galery:hover:before{
        background-size: 90%;
        left:10%;
        right: 10%;   
    }
  
}

@media screen and (max-width:998px){
    .our_work__wrapper{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 0.5fr);
    }
    .wide{
   background: url(../images/section_our-work/Luw-black-retangle.png) 100% 100% no-repeat;
   opacity: 1.0;
   background-size: 100%; 
   
    grid-row-start: 3;
   grid-row-end: 4;
   grid-column-start: 1;
   grid-column-end: 3; 
    }
    .our_work__galery:hover:before{
        background-size: 80%;
    }
    .none{
        display: none;
    }

}

@media screen and (max-width:770px){
    .our_work__galery:hover:before{
        display: none;
    }
  
}
@media screen and (max-width:580px){
    .our_work__wrapper{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5, 0.5fr);
        }
        .high{
            grid-row-start: 1;
            grid-row-end: 4;
            grid-column-start: 2;
            grid-column-end: 3;
         }
         .wide{
            
            grid-row-start: 5;
           grid-row-end: 6;
           grid-column-start: 1;
           grid-column-end: 3; 
            }

}