.tabs__menu{
    font-size:0;
    margin-top: 99px;
    
}

.tabs__menu__frame{
    width: 184px;
    height: 40px;
    border: 0px solid $grayborder;
    border-radius: 5px 5px 0px 0px;
    
    box-sizing: border-box;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
   
    
}
input[type=radio]:checked +.tabs__menu__frame{
    
    width: 203px;
    height: 40px;
    border: 1px solid $grayborder;
    border-radius: 5px 5px 0px 0px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: none;
      
}

.tabs__menu__frame:hover{
    opacity: .8;
}

.tabs__menu-input{
    display: none;
}


#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
display: block;
}

.tabs__menu-input:checked+.tabs__menu__frame{
    background-color: $white;
    border-bottom: 5px solid $white;
}


.tabs__content{
    height:500px ;
    display: none;
    border: 1px solid $grayborder;
}
.tabs__content__wrapper{
    width:100%;
    display:flex;
    list-style-type: none;
    
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 4px;
}
.tabs__content__text{
    width: 48.7%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

    padding-left: 8.54%;
    
}
.tabs__main-field__text-content__header{
    flex-basis:124px;
    padding: 28px 0px 28px 0px;
    box-sizing: border-box;

    font-family: 'OpenSans',sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: $black;

}

.tabs__main-field__text-content__text{
    flex-basis:210px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    color: $black;

    text-align: left;  
}
.tabs__main-field__text-content__button{
    color: $white;
    background:$coral;
    border: 1px solid $coral;
    width: 270px;
    height: 58px;
    margin-bottom: 10%;
    
    
}
.tabs__main-field__text-content__button:hover{
    cursor: pointer;
    background-color:$red;
}
.tabs__main-field__text-content__button:active{
    cursor: pointer;
    border: 1px solid $red;
    background-color:$coral ;
    color:$white;
}

.tabs__main-field__img-content{
    display: flex;
    width: 39%;
    max-height: 100%;
    background-color:$black;
    background: url(../images/section_tabs/Liberty.png) no-repeat 100% 100%;
    background-size: cover;
    
}
@media screen and (max-width:1200px){
    .tabs__menu{
    margin-top: 50px;
    }
    .tabs__menu__frame{
        width: 156px;
    }
    input[type=radio]:checked +.tabs__menu__frame{
        width: 172px;
    }
    .tabs__content{
        height:385px;
    }
    .tabs__content__text{
        width: 57.1%;
        padding-left: 84.68px;
    }
    .tabs__main-field__text-content__header{
        font-size: 24px; 
        margin: 0px 0px 38px 0px;
    }
    .tabs__main-field__text-content__text{
        font-size: 14px;
        margin: 0px 0px 38px 0px;
        padding: 0;
    }
    .tabs__main-field__text-content__button{
        width: 231.87px;
        height: 58px;
        font-size: 18px;
    }
    .tabs__main-field__img-content{
        width:31%;
    }
}
@media screen and (max-width:998px){
    .tabs__content__text{
        width: 100%;
        background: url(../images/section_tabs/Liberty.webp) no-repeat 100% 100%;
       
    }
    #content-2{
        background:linear-gradient(to bottom, rgba(240, 237, 237, 0.8),rgba(233, 229, 229, 0.2)), url(../images/section_small_banner/pexels-sevenstorm-juhaszimrus-425058.webp) no-repeat 100% 100%;
        background-size: 100% 100%; 
    }
    .tabs__main-field__img-content{
        display: none;
    }
}
@media screen and (max-width:580px){
    .tabs__menu{
        margin-top: 41px;
    }
    .tabs__menu__frame{
        width: 93px;
    }
    input[type=radio]:checked +.tabs__menu__frame{
        width: 102px;
    }
    .tabs__content{
        height:431px;
    }
    .tabs__content__text{
        padding:25px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .tabs__main-field__text-content__header{
        font-size: 18px; 
        margin-bottom: 0px;
       
    }
    .tabs__main-field__text-content__text{
        font-size: 13px;
        margin-bottom: 29px;
        
    }
    .tabs__main-field__text-content__button{
        width: 242.74px;
        height: 50px;
        font-size: 18px;
    }
}